<!--VIEW THAT DOES FILTERING OF DATA-->
<div class="container">
   <h2 class="text-center"> 
      English Premier League 2015 
   </h2>
   <hr\> 
   <div class=" col-md-12" ng-repeat="data in game15['rounds']">
      <h3 style="text-decoration: underline;">{{data.name}}</h3>
      <br\> 
      <hr\> 
      <div class="col-md-12" ng-repeat="item in data['matches']|filter:name|filter:year|filter:score"><!--FILERTNG OF THE DATA WITH TEAMNAME,SCORE AND YEAR-->
         <h4 style="text-align: center">{{item.date|date: "dd.MM.y"}}</h4>
         <h4 style="text-align: center">  <a href="#/statistic15/{{item.team1.code}}" style="text-decoration-color: blue">{{item.team1.code}}</a> Vs <a href="#/statistic15/{{item.team2.code}}" style="text-decoration-color: blue">{{item.team2.code}}</a></h4>
         <br\>
         <a href="#match2015/{{item.team1.code}}/{{item.team2.code}}" style="text-decoration-color: blue">more details</a>
      </div>
   </div>
</div>
<div class="container">
   <h2 class="text-center"> 
      English Premier League 2016 
   </h2>
   <hr\> 
   <div class=" col-md-12" ng-repeat="data in game16['rounds']">
      <h3 style="text-decoration: underline;">{{data.name}}</h3>
      <br\> 
      <hr\> 
      <div class="col-md-12" ng-repeat="item in data['matches']|filter:name|filter:year|filter:score">
         <h4 style="text-align: center">{{item.date|date: "dd.MM.y"}}</h4>
         <h4 style="text-align: center"><a href="#/statistic16/{{item.team1.code}}" style="text-decoration-color: blue">{{item.team1.code}} </a>Vs <a href="#/statistic16/{{item.team2.code}}" style="text-decoration-color: blue">{{item.team2.code}}</a></h4>
         <br\>
         <a href="#match2016/{{item.team1.code}}/{{item.team2.code}}" style="text-decoration-color: blue">more details</a>
      </div>
   </div>
</div>