
<!--VIEW THAT SHOWS THE DETAILS OF THE PARTICULAR MATCHES-->
<h3 style="font-family:'Shrikhand', cursive;font-size: 2vmax; text-align: center;">MATCH DEATILS</h3>
<div class="container">
<div class="row">
<table class="table table-responsive">
   <thead class="thead-inverse">
      <tr>
         <th>Date</th>
         <th>Team 1</th>
         <th>Score</th>
         <th>Team 2</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>
            <h4 style="font-size: 2vmax">{{date}} </h4>
         </td>
         <td>
            <h4 style="font-size: 2vmax">{{team1}}</h4>
         </td>
         <td>
            <h4 style="font-size: 2vmax"> {{score1}}-{{score2}}</h4>
         </td>
         <td>
            <h4 style="font-size: 2vmax">{{team2}}</h4>
         </td>
      </tr>
   </tbody>
</table>
</div>
</div>