<<!--VIEW THAT SHOWS THE STATISTICS OF A PARTICULAR TEAM-->
<div><h2 style="text-align: center; ">TEAM STATISTICS</h2></div>
<div class="container">
<div class="row">
  <div class="col-md-12">
  <div class="panel panel-default">
  <div class="panel-heading">TEAM</div>
  <div class="panel-body">
    {{teamname1}}
  </div>
</div>
  <div class="panel panel-default">
  <div class="panel-heading">NUMBER OF MATCHES</div>
  <div class="panel-body">
    {{play}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">TOTAL WINS</div>
  <div class="panel-body">
    {{win}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    TOTAL LOSES
  </div>
  <div class="panel-body">
    {{loss}}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">DRAWS</div>
  <div class="panel-body">
    {{draw}}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">TOTAL GOALS</div>
  <div class="panel-body">
    {{goals}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    POINTS
  </div>
  <div class="panel-body">
    {{points}}
  </div>
</div>
</div>
</div>
</div>